.invalidfield,
.inputfield {
  font-size: 1rem;
  color: $color-black;
  border: none;
  padding: 1rem;
  outline: none;
}

.inputfield {
  background-color: $color-white;
}

.invalidfield {
  background-color: $color-red;
}