.notice,
.alert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  padding: 2rem;
  color: $color-white;
}

.alert {
  background-color: $color-red;
}

.notice {
  background-color: $color-orange;
}

.content {
  display: inherit;
  align-items: center;
  font-size: 1.2rem;
}

.closebtn {
  line-height: 2rem;
  font-weight: bold;
  font-size: 2.2rem;
  color: $color-white;

  margin-left: 1.5rem;
  cursor: pointer;

  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;

  &:hover {
    color: $color-black;
  }
}
